@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;600&display=swap');

/* ------------- Element selectors ----------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

a {
    color: black;
}

a:hover {
    color: #FE3B32;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 3em;
    position: sticky;
    height: 5vh;
    background-color: #EDEDED;
    inset: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

nav>ul>li {
    display: inline;
    margin-inline: 2em;
    font-size: 1.3em;
}

nav>ul>li>a {
    color: #232323;
}

nav>ul>li>a:hover {
    color: #FE3B32;
    cursor: pointer;
}
nav>div {
    color: #232323;
}

nav>div>p {
    text-align: center;
}

.hamburger {
    background-image: url(/images/list.svg);
}

section {
    margin: 15em 1.5em 15em 1.5em;
}

button {
    border-radius: 30px;
    border: none;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

button:hover {
    cursor: pointer;
}

hgroup {
    text-align: center;
}

hgroup>h2,
hgroup>h3,
hgroup>li {
    color: #1E1E1E;
}

hgroup>h3 {
    margin-top: 20px;
    font-size: 0.7em;
    opacity: 0.7;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    padding: 2em;
    gap: 0.5em;
    color: #EDEDED;
}

footer>a {
    font-size: 1.3em;
    color: #EDEDED;
}

/* ------ Class selectors ------- */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15em;
    flex-wrap: wrap;
    background-color: #EDEDED;
    min-height: 83vh;
    max-width: 100%;
    margin: 30px;
    border: #232323 solid;
    border-radius: 30px;
    box-shadow: 5px 20px 20px 10px rgba(0, 0, 0, 0.1);
}

.hero>hgroup>h1 {
    color: #232323;
    width: fit-content;
}

.hero>hgroup>h2 {
    font-size: clamp(1.5em, 100%, 4em);
    color: #1e1e1e81;
}

.hero>img {
    max-width: 650px;
    min-width: 200px;
}

.hero button {
    background-color: #EB0C00;
    height: 60px;
    margin-top: 30px;
    width: 250px;
    font-weight: 600;
    font-size: 20px;
    color: #EDEDED;
}

.hero button:hover {
    scale: 1.05;
    transition: ease-in 0.1s;
}

.insurances {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.insurances>div {
    width: 400px;
    border-radius: 15px;
    border: hsla(0, 0%, 14%, 0.8) solid;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    padding: 2em 2em 2em 2em;
}

.insurances>div:hover {
    transition: ease-in-out 0.1s;
    /* box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); */
    scale: 1.03;
}

.insurances>div>img {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.insurances>div>h2 {
    margin: .5em 0 .5em 0;
    text-align: center;
}

.insurances>div>ul>li::before {
    content: '• ';
}

.separator {
    text-align: center;
    font-size: 2em;
    margin: 3em 0 3em 0;
    width: 100%;
}

.separator>h2 {
    font-size: clamp(1.3em, 10vw, 2em);
}


.logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10em;

}

.logos>img {
    gap: 1em;
    max-height: 100px;
    width: 150px;
    object-fit: contain;
}

.fixed-logo {
    position: sticky;
    inset: 0 0 0 100%;
    padding: 1em;
    width: 100px;
    height: 100px;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


/* -------- ID selectors ----------- */

#preguntas-frecuentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}

#preguntas-frecuentes>div {
    border: solid hsla(0, 0%, 14%, 0.8);
    padding: 2em;
    border-radius: 20px;
    height: fit-content;
    width: 50%;
}

#preguntas-frecuentes>div:hover {
    scale: 1.02;
    transition: 0.2s;
    background-color: #EB0C00;
    color: #EDEDED;
}

#preguntas-frecuentes>div>ol {
    padding-left: 1em;
}

#preguntas-frecuentes>div>p {
    margin: 1em 0;
}

#preguntas-frecuentes>div>ol>li {
    list-style-type: decimal;
}


/*---------------------- Media ----------------------- */

@media (width < 920px) {
    nav {
        position: relative;
        display: none;
        height: 10vh;
        padding: 0;
    }

    #preguntas-frecuentes>div {
        width: 100%;
    }

    .hero {
        padding-top: 10%;
        gap: 0;
        margin: 1em;
        max-height: 90vh;
    }

    .hero>hgroup {
        margin-top: 3em;
    }
}

@media (width < 1655px) {
    .hero {
        gap: 0;
    }
}