@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    list-style: none;
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 3em;
    position: sticky;
    width: 100%;
    height: 5vh;
    background-color: #EDEDED;
    inset: 0;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    z-index: 1;
    color: #1E1E1E;
}

nav>ul>li {
    display: inline;
    margin-inline: 2em;
    font-size: 1.3em;
}

nav>div>p {
    text-align: center;
}

.hamburger {
    background-image: url(/images/list.svg);
}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

a {
    color: black;
}

a:hover {
    color: #FE3B32;
}

section {
    margin: 15em 1.5em 15em 1.5em;
}

button {
    border-radius: 30px;
    border: none;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

button:hover {
    cursor: pointer;
}

.separator {
    text-align: center;
    font-size: 2em;
    margin: 3em 0 3em 0;
    border-radius: 25px;
    width: 100%;
}

.separator .background-blue {
    padding: 0.5em 1em 0.5em 1em;
}

.separator>h2 {
    font-size: clamp(1.3em, 10vw, 2em);
}

hgroup {
    text-align: center;
}

hgroup>h2,
hgroup>h3,
hgroup>li {
    color: #1E1E1E;
}

hgroup>h3 {
    margin-top: 20px;
    font-size: 0.7em;
    opacity: 0.7;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8em;
    background-color: #EDEDED;
    position: relative;
    height: 83vh;
    margin: 30px;
    border: #232323 solid;
    border-radius: 30px;
    box-shadow: 5px 20px 20px 10px rgba(0, 0, 0, 0.1);
}
.hero>hgroup {
    min-width: max-content;
}
.hero>hgroup>h1 {
    color: #232323;
}
.hero>hgroup>h2 {
    font-size: 2em;
    color: #1e1e1e81;
}

.hero>img {
    width: 35%;
}

.hero button {
    background-color: hsla(3, 99%, 60%, 0.9);;
    height: 60px;
    margin-top: 30px;
    width: 250px;
    font-weight: 600;
    font-size: 20px;
    color: #EDEDED;
}

.insurances {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.insurances>div {
    width: 400px;
    border-radius: 15px;
    border: hsla(0, 0%, 14%, 0.8) solid;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    padding: 2em 2em 2em 2em;
}

.insurances>div:hover {
    transition: ease-in-out 0.1s;
    /* box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); */
    scale: 1.03;
}

.insurances>div>img {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.insurances>div>h2 {
    margin: .5em 0 .5em 0;
    text-align: center;
}

.insurances>div>ul>li::before {
    content: '• ';
}

.background-blue {
    background-color: #1D2539;
}

#preguntas-frecuentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}

#preguntas-frecuentes>div {
    border: 5px solid hsla(0, 0%, 14%, 0.8);
    padding: 2em;
    border-radius: 20px;
    height: fit-content;
    width: 50%;
}

#preguntas-frecuentes>div:hover {
    scale: 1.02;
    transition: 0.2s;
    background-color: hsla(3, 99%, 60%, 0.8);
    color: #EDEDED;
}

#preguntas-frecuentes>div>ol {
    padding-left: 1em;
}

#preguntas-frecuentes>div>p {
    margin: 1em 0;
}

#preguntas-frecuentes>div>ol>li {
    list-style-type: decimal;
}

.color-#EDEDED {
    color: #EDEDED;
}

#banner {
    background-color: #1D2539;
    height: 95vh;
    color: #EDEDED;
}

#banner>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#banner>div>h2 {
    font-size: clamp(1em, 10vw, 2em);
    margin-top: .3em;
}

.nav_anchors {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
    gap: 50px;
    scroll-behavior: smooth;
}

.logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10em;

}

.logos>img {
    gap: 1em;
    max-height: 100px;
    width: 150px;
    object-fit: contain;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1D2539;
    padding: 3em;
    gap: 0.5em;
    color: #EDEDED;
}

.fixed-logo {
    position: sticky;
    inset: 0 0 0 100%;
    padding: 1em;
    width: 100px;
    height: 100px;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

@media (max-width: 920px) {
    nav {
        display: none;
    }

    #preguntas-frecuentes>div {
        width: 100%;
    }
}